article {
  background-color: rgba(255, 255, 255, 0.8);
  /* position: relative; */

  margin: 40px;
}




.txt {
  display: flex;
  margin-top: 10px;
}

#content {
  box-sizing: border-box;
}

#id {
  width: 130px;
}

#boardbt {
  width: 20%;
  font-size: 12px;
  padding: 5px 10px;
}



.write-body {
  margin: 50px;
}

.detailMain {
  display: flex;
  flex-direction: column;
}
.detailh1 {
  font-size: 50px;
  text-align: start;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.detailicon {
  font-size: 50px;
}



.abtdiv .grid {
  display: flex;
  justify-content: flex-end; 
}

.abtdiv .grid a {
  margin-left: 10px; 
  font-weight: 700;
}

/* .boardDiv {
  background-color: aliceblue;
  margin: 30px;
} */


.articleTable {
  overflow-x: auto;
  max-width: 100%;
}

table {
  width: 100%; 
}