.title li {
    font-size: 70px; 
    font-weight: bold;
}

.icon {
    font-size: 70px; 
}

#UserIcon {
    font-size: 35px;
    color: rgba(65, 84, 98); 
}

nav {
    margin: 40px;
    margin-top: 60px;
}

/* #mydiv {
    display: none;
} */